:root {
  --white: #fff;
  --borderAndButton: rgb(182, 180, 180);
  --skyBlue: rgb(0, 204, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('http://fonts.cdnfonts.com/css/minecraft-3');
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: none;
  font-family: 'Minecraft', sans-serif;
  position: relative;
}

.side-board {
  height: 100vh;
  width: 10vw;
  background-color: black;
}

.side-board .shovel {
  margin-top: 20%;
}

.flex .side-board {
  justify-content: flex-start;
  flex-direction: column; 
}

.game-container {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  background-color: black;
}

.game-board {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(22, 1fr);
}

.game-board div {
  height: 5vmin;
  width: 5vmin;
  border: 1px aolid transparent;
}

.game-board div:hover {
  border: 1px solid rgb(182, 180, 180);
  cursor: pointer;
}